@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #5F8670;
    text-align: center;
}

.container-game {
    height: 100vh;
    position: relative;
}

.container-play {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-game h1 {
    color: #fff;
    font-size: 64px;
}

.container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #B80000;
    background-color: #fff;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #FF9800;
    color: #fff;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #FF9800;
    color: #fff;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#msg{
    color: #FFF;
    font-weight: 600;
    font-size: 5vmin;
}

.msg-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.hide {
    display: none;
}